In [1]:
# MOVIE RECCOMANDATION SYSTEM

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# IMPORT MOVIE AND CREDIT DATASET
df_credits=pd.read_csv("tmdb_5000_credits.csv")
df_movies=pd.read_csv("tmdb_5000_movies.csv")

In [3]:
df_credits.shape,df_movies.shape

((4803, 4), (4803, 20))

In [4]:
df_credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [5]:
df_movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [6]:
# COMBINE BOTH THE DATASET 
df_movies=df_movies.merge(df_credits,on='title',how='inner')

In [7]:
pd.set_option('display.max_columns',None)

In [8]:
df_movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
# SELECT IMPORTANT FEATURES

In [10]:
df_movies=df_movies[['genres','keywords','overview', 'title', 'movie_id', 'cast', 'crew']]
df_movies.head(2)

,genres,keywords,overview,title,movie_id,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [11]:
df=df_movies
df.head(2)

,genres,keywords,overview,title,movie_id,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [12]:
# DELETE NULL VALUES
df=df.dropna()

In [13]:
df.head(1)

,genres,keywords,overview,title,movie_id,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [14]:
# FUNCTION TO TAKE OUT IMPORTANT CONTENT;
import ast
def remove_genres(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'].lower().strip().replace(' ',''))
    return l

In [15]:
df.genres=df.genres.apply(remove_genres)
df.keywords=df.keywords.apply(remove_genres)

In [16]:
# FUNCTION TO TAKE OUT IMPORTANT CONTENT;
import ast
def remove_crew(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if(i['department']=='Directing'):
            l.append(i['name'].lower().strip().replace(' ',''))
    return l

In [17]:
df.crew=df.crew.apply(remove_crew)

In [18]:
import ast
def remove_cast(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'].lower().strip().replace(' ',''))
    return l

In [19]:
df.overview=df.overview.str.lower()

In [20]:
df.cast=df.cast.apply(remove_cast)

In [21]:
df.head(2)

,genres,keywords,overview,title,movie_id,cast,crew
0,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","in the 22nd century, a paraplegic marine is di...",Avatar,19995,"[samworthington, zoesaldana, sigourneyweaver, ...",[jamescameron]
1,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...","captain barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,285,"[johnnydepp, orlandobloom, keiraknightley, ste...","[goreverbinski, pamelaalch, sharronreynolds, k..."

In [22]:
def listtostr(obj):
    stro=''
    for i in obj:
        stro=stro+i+' '
    return stro.strip()

In [23]:
df.genres=df.genres.apply(listtostr)
df.keywords=df.keywords.apply(listtostr)
df.cast=df.cast.apply(listtostr)
df.crew=df.crew.apply(listtostr)

In [24]:
df['tags']=df.genres+df.keywords+df.cast+df.crew+df.overview

In [25]:
df=df[['movie_id','title','tags']]
df.head()

,movie_id,title,tags
0,19995,Avatar,action adventure fantasy sciencefictionculture...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy actionocean drugabuse exotic...
2,206647,Spectre,action adventure crimespy basedonnovel secreta...
3,49026,The Dark Knight Rises,action crime drama thrillerdccomics crimefight...
4,49529,John Carter,action adventure sciencefictionbasedonnovel ma...

In [26]:
# SELECT THE SKLEARN LIBERARY TO CONVERT CATEGORIACAL INTO VECTOR 
from sklearn.feature_extraction.text import CountVectorizer
model=CountVectorizer(stop_words='english',max_features=1200,analyzer='word',ngram_range=(1,1))
model.fit_transform(df['tags'])

<4806x1200 sparse matrix of type '<class 'numpy.int64'>'
	with 80934 stored elements in Compressed Sparse Row format>

In [27]:
vectors=model.fit_transform(df['tags']).toarray()

In [28]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [29]:
# SIMILARITY BETWEEN THE MOVIES WHICH IS IN VECTOR FORM
similarity

array([[1.        , 0.12909944, 0.1       , ..., 0.04082483, 0.04564355,
        0.        ],
       [0.12909944, 1.        , 0.06454972, ..., 0.05270463, 0.        ,
        0.        ],
       [0.1       , 0.06454972, 1.        , ..., 0.04082483, 0.        ,
        0.        ],
       ...,
       [0.04082483, 0.05270463, 0.04082483, ..., 1.        , 0.1118034 ,
        0.04303315],
       [0.04564355, 0.        , 0.        , ..., 0.1118034 , 1.        ,
        0.09622504],
       [0.        , 0.        , 0.        , ..., 0.04303315, 0.09622504,
        1.        ]])

In [30]:
# FUNCTION TO RECCOMAND THE MOVIE 
def movie(moviename):
    movie_index=df[df['title']==moviename].index[0]
    distance=similarity[movie_index]
    movie_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movie_list:
        print(df.iloc[i[0]].title)

In [33]:
# THIS WILL GIVE THE 
name=input('Enter the movie:- ')
print()
movie(name)

Enter the movie:- Superman Returns

The Crow
Superman III
Superman II
Superman
Avengers: Age of Ultron

In [ ]:
Avatar,Spider-Man 3,Superman Returns

In [ ]:
#